{% extends 'base.html' %}
{% block quicklinks %}
  <li><a href="{% url 'portals:home' %}">Home</a></li>
  <li><a href="{% url 'portals:view_profile' %}">My Profile</a></li>
  <li><a href="{% url 'portals:edit_profile' %}">Edit Profile</a></li>
  <li><a href="{% url 'portals:change_password' %}">Change Password</a></li>
{% endblock %}
{% block head %}
<title>Profile</title>
{% endblock %}}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
