{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Password reset complete </h1>
    </div>
<div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-body">
                <p>
                    You have successfully reset your password you can now login
                </p>
                <a href="{% url 'portals:login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}