{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block quicklinks %}
  <li><a href="{% url 'academics:all' %}">Home</a></li>
  <li><a href="{% url 'academics:timetable' %}">Megatimetable</a></li>
  <li><a href="{% url 'academics:result' %}">Results</a></li>
  <li><a href="{% url 'academics:import_sheet' %}">Import Result</a></li>
{% endblock %}

{% block content %}
<div class="col-sm-2"></div>
        {% if form.errors %}
        <p style="color: #ff0c0e;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
<div class="col-sm-6">
<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
<input type='submit' class='btn btn-default' value='Import' />
</form>
</div>

<div class="col-sm-4">
    </div>
{% endblock content %}