<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css">
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <style>
    {% block style %}{% endblock style %}
    </style>
</head><body>
<div style="padding-top: 15px;background-color: #ddead4;">
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container-fluid" style="color: #d1c9c9;">
<div class="col-xs-4">
    <img class="img-circle img-thumbnail" src="{% static 'img/logo.png' %}" style="width: 100px;" />
</div>
<div class="col-xs-8" style="font-size:22px;font-weight:bold;color: #611616">KABOROM HOLISTIC ACADEMY </div>
</div>
{% include "nav.html" %}  <div class="clearfix visible-xs-block"></div>
{% block home %}{% endblock %}
<div class="container">
<center style="color: #ff7706;">{% include "messages_display.html" %}</center>
    {% block content %}
    {% endblock %}
</div>

{% include "footer.html" %}
</div>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>